%p#notice= notice

%p
  %b Name:
  = @employee.name
%p
  %b Role:
  = @employee.role
%p
  %b Age:
  = @employee.age
%p
  %b Gender:
  = @employee.gender
%p
  %b Phone:
  = @employee.phone
%p
  %b Address:
  = @employee.address
%p
  %b Department:
  - @employee.departments.each do |dep|
    %span.label.label-primary= dep.name
