%p#notice= notice

%p
  %b Name:
  = @employee.name
%p
  %b Role:
  = @employee.role
%p
  %b Age:
  = @employee.age
%p
  %b Gender:
  = @employee.gender
%p
  %b Phone:
  = @employee.phone
%p
  %b Address:
  = @employee.address

= link_to 'Edit', edit_employee_path(@employee)
\|
= link_to 'Back', employees_path
