%p#notice= notice
%p
  %strong Name:
  = @department.name
%p
  %strong Description:
  = @department.description
= link_to 'Edit', edit_department_path(@department)
|
= link_to 'Back', departments_path

- @employees = @department.employees
= render template: "employees/index"
